# Emacs
.*.swo
.*.swp
*.elc
*.backup
*.~

# Build files
public/*.html

# System
.DS_Store

# Project specific
*.pdf
*.docx

# Templates (keep src/templates)
!src/templates/

# Virtual environment
venv/
