{{ define "main" }}
<article class="journal-post">
    <header>
        <h1>{{ .Title }}</h1>
        <p class="meta">
            <span>{{ .Date.Format "Jan 2, 2006" }}</span>
            {{ $cats := .Params.categories }}
            {{ if $cats }}
                | <span>{{ delimit (cond (reflect.IsSlice $cats) $cats (split $cats " ")) ", " }}</span>
            {{ end }}
            {{ $tags := .Params.tags }}
            {{ if $tags }}
                | <span>{{ delimit (cond (reflect.IsSlice $tags) $tags (split $tags " ")) ", " }}</span>
            {{ end }}
        </p>
    </header>
    <section class="markdown-content">
        {{ .Content }}
    </section>
    <footer>
        <hr>
        <p><a href="/journal/">← Back to Journal</a></p>
    </footer>
</article>
{{ end }}
